# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache files
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider cache files
.idea/
*.sln.iml

# OS-specific files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# Except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it should be included in source control
#!**/packages/repositories.config

# Microsoft Azure Build Output
csx/
*.build.csdef

# Others
*.pidb
*.booproj
*.svclog
*.scc

# SQL Server files
*.mdf
*.ldf
*.ndf

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# StyleCop
StyleCopReport.xml

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlh
*.tli
*.tmp
*.tmp_proj
*.log
*.vspscc
*_i.asm
*_p.asm

# Others
*.DS_Store
*.ncb
*.sdf
*.opensdf
*.cachefile

#development
*.Development.json
